.slider{
    .popup{
        height:100%;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.267);
        .inner{
            position: relative;
            width: 60%;
            margin: 0 auto;
            top: 1%;
            border:solid 10px;
            .image{
                width: 100%;
              }
        }
    }
    
  
}